<!-- wp:template-part {"slug":"header","theme":"metropolis-magazine","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"},"padding":{"top":"var:preset|spacing|superbspacing-xlarge","bottom":"var:preset|spacing|superbspacing-xlarge","left":"0","right":"0"},"blockGap":"var:preset|spacing|superbspacing-medium"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);padding-top:var(--wp--preset--spacing--superbspacing-xlarge);padding-right:0;padding-bottom:var(--wp--preset--spacing--superbspacing-xlarge);padding-left:0"><!-- wp:post-featured-image {"height":"","overlayColor":"contrast","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50","top":"calc(-1 * var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dspacing\u002d\u002d50))"}}}} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"comments","theme":"metropolis-magazine","tagName":"section"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"metropolis-magazine","tagName":"footer"} /-->